<div class="jumbotron">
    <h1>HLS Manifest Proxy Demo</h1>
    <p class="lead">Demo to showcase the use of the ManifestProxyController, as outlined in the <a href="http://azure.microsoft.com/blog/2015/03/06/how-to-make-token-authorized-aes-encrypted-hls-stream-working-in-safari/">blogpost</a> by Mingfei.</p>
</div>
<div class="row">
    @{
        string playbackurl = ViewData["playbackurl"] as string;
        if (IsPost)
        {
            playbackurl = Request["playbackurl"];

            string webtoken = Request["webtoken"];


            webtoken = ViewData["webtoken"] as string;

            string urlencoded_webtoken = HttpUtility.UrlEncode(webtoken);
            string proxyurl = "Home/Manifest?playbackUrl=" + @playbackurl + "(format=m3u8-aapl)";
            string urlencoded_proxyurl = "http://localhost:8050/" + @proxyurl + "&webtoken=" + @urlencoded_webtoken;

            <form method="post" action="">
                Manifest URL:<br />
                <input type="text" name="playbackurl" value="@playbackurl" size="150"/><br />
                SWT Token:<br />
                <input type="text" name="webtoken" value="@webtoken" size="150"/><br /><br />
                <input type="submit" value="Submit" class="submit" />
            </form>
            <p>
                <br />
                You entered: <br />
                Manifest URL: @playbackurl <br /> <br />
                SWT Token: @webtoken <br /> <br />
                HLS Proxy URL: @urlencoded_proxyurl  <br/> <br/>
                <a href="http://ampdemo.azureedge.net/azuremediaplayer.html?url=@urlencoded_proxyurl&format=hls&aes=true">HLS Proxy URL played by Azure Media player at http://aka.ms/azuremediaplayer </a> <br /> <br />
            </p>
            <video id="vid1" class="azuremediaplayer amp-default-skin" autoplay controls width="640" height="400" data-setup='{"techOrder": ["azureHtml5JS", "flashSS", "silverlightSS", "html5"], "nativeControlsForTouch": false}'>

            @*<source src="@playbackurl"
                    type="application/vnd.ms-sstr+xml"
                    data-setup='{"protectionInfo": [{"type": "AES", "authenticationToken": "Bearer=@webtoken"}],"streamingFormats":["SMOOTH","DASH"]}' />
            <source src="/@proxyurl&webtoken=@urlencoded_webtoken" type="application/vnd.apple.mpegurl" data-setup='{"disableUrlRewriter": true}' />*@

                <source src="@playbackurl"
                        type="application/vnd.ms-sstr+xml"
                        data-setup='{"protectionInfo": [{"type": "AES", "authenticationToken": "Bearer=@webtoken"}],"streamingFormats":["SMOOTH","DASH"]}' />
                <source src="/@proxyurl&webtoken=@urlencoded_webtoken" type="application/vnd.apple.mpegurl" data-setup='{"disableUrlRewriter": true}' />
          </video>
        }
        else
        {
            <form method="post" action="">
                Manifest URL:<br />
                <input type="text" name="playbackurl" value="@playbackurl" size="150"/><br />
                SWT Token:<br />
                <input type="text" name="webtoken" value="" size="150"/><br /><br />
                <input type="submit" value="Submit" class="submit" />
            </form>
        }
    }
</div>
<! -- what works: format=m3u8-aapl, token with key id as claim; format=m3u8-aapl, token with key id -->
<!-- what doesn't work: format=m3u8-aapl-v3, token with key id as claim -->
@*Bearer urn%3amicrosoft%3aazure%3amediaservices%3acontentkeyidentifier=2f04925a-ff16-474a-87cc-c73bbb76ba20&Audience=urn%3atest&ExpiresOn=1475247485&Issuer=http%3a%2f%2ftestacs&HMACSHA256=Fq6uFJxD4jyiM%2bKjwDmCBUqmWtN2C1SPJmKjLgtdSfU%3d*@